
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1474968180'); /* IE9*/
  src: url('iconfont.eot?t=1474968180#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1474968180') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1474968180') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1474968180#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-eyes:before { content: "\e607"; }
.icon-down:before { content: "\e640"; }
.icon-bingtu:before { content: "\e8ef"; }
.icon-duanxin:before { content: "\e67f"; }
.icon-liaotian:before { content: "\e65c"; }
.icon-xiangxia:before { content: "\e6f5"; }
.icon-zhankai:before { content: "\e60e"; }
.icon-22fenbuquxiantu:before { content: "\e699"; }
.icon-xiazai:before { content: "\e606"; }
.icon-xiangji:before { content: "\e663"; }
.icon-52d72adc69438zhuanhuan-copy:before { content: "\e602"; }
.icon-jia:before { content: "\e628"; }
.icon-dagouzhuanhuan:before { content: "\f0013"; }
.icon-sousuo:before { content: "\e62f"; }
